*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #eaf1f8;
}

.wrapper {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

header {
  text-align: center;
  padding: 25px;
  padding-top: 10px;
  color: hsl(206, 12%, 27%);
}

.card {
  background-color: hsl(0, 60%, 97%);
  border-radius: 15px;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #eaeef3;
  height: 4px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #ebeef1;
  height: 4px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: rgb(55, 175, 8);
  border-radius: 40px;
  box-shadow: rgba(12, 12, 12, 0.1) 0px 1px 6px 0px rgba(10, 9, 9, 0.2) 0px 1px
    1px 0px;
  color: hsl(0, 29%, 97%);
  display: inline-block;
  font-size: 24px;
  line-height: 25px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #cad2db;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 75px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
